*.zip
*.rar
*.htm
*.html
*.name
*.iml
*.xml
*.ninja
*.cmake
*.log
*.check_cache
*.yaml
*.bin
*.exe
*.c
*.json
essay/data/processed/train_essays.csv
essay/data/DAIGT_V2/train_v2_drcat_02.csv



cache-v2
cmakeFiles-v1
codemodel-v2
toolchains-v1